=reset
	position: relative
	display: block
	font-family: sans-serif
	padding: 0
	margin: 0
	box-sizing: border-box


.section *
	+reset

.section
	text-align: center
	margin-bottom: 32px
	border-top: solid 1px
	padding-top: 32px

.header
	margin-bottom: 32px
	&__title
		margin-bottom: 16px
	&__intro

.container
	margin: 96px auto

.wrapper
	margin-bottom: 24px
	max-width: 1000px
	margin-left: auto
	margin-right: auto
	.left, .right
		display: inline-block
		min-width: 250px
		width: 45%
		padding: 8px
		margin-bottom: 32px
		vertical-align: top
	.left
	.right
	.image
		width: 100%
		max-width: 600px
		height: auto
		margin-bottom: 24px
		&__caption
			margin: 0 !important
			font-family: 'Roboto', 'Guardian sans', sans-serif
			font-size: 16px !important
			line-height: 1.4 !important
			margin-bottom: 4px !important
		&__credit
			margin: 0 !important
			font-family: 'Roboto', 'Guardian sans', sans-serif
			font-weight: 800
			font-size: 14px !important
			&:before
				content: 'Picture: '

